Binaries
DerivedDataCache
Intermediate
Saved
Plugins
Content/Collections
Content/Developers
Content/Models
Content/Material/GoogleMap
Content/Data
Content/Effect
Content/Editor
Content/Media
Content/UI
Content/Maps
Content/ArchVizExplorer/Environment
Content/ArchVizExplorer/Fonts
Content/ArchVizExplorer/Maps
Content/ArchVizExplorer/Materials
Content/ArchVizExplorer/Meshes
Content/ArchVizExplorer/Movies
Content/ArchVizExplorer/Textures
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace